 * {
            scroll-behavior: smooth;
        }
        
        .info-card {
            background-color: #0E7A4F; /* primary color */
            border-radius: 1rem;
            box-shadow: 0 10px 25px rgba(14, 122, 79, 0.3);
        }
        .form-card {
            border-radius: 1rem;
            box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
        }
        .input-style {
            padding: 0.75rem;
            border: 1px solid #D1D5DB;
            border-radius: 0.5rem;
            transition: border-color 0.3s, box-shadow 0.3s;
        }
        .input-style:focus {
            border-color: #10B981; /* primary-light focus */
            box-shadow: 0 0 0 3px rgba(16, 185, 129, 0.3);
            outline: none;
        }